html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.signup-container {
  height: 100vh;
  overflow-x: hidden;
}

.left-panel {
  background-color: #ffffff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel {
  background: linear-gradient(135deg, #0118D8, #3174f2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.right-panel img {
  max-width: 100%;
  height: auto;
}

.form-check-label {
  margin-left: 5px;
}

.form-control {
  border-radius: 10px;
}

.btn-primary {
  background-color: #0059ff;
  border: none;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #2463ea;
}

.link-style {
  color: #3174f2;
  text-decoration: none;
}
