.card-box {
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.transaction-button{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #0118D8;
  transition: background 0.9s;
}

.transaction-button:hover{
  color: white;
  background: linear-gradient(135deg, #0118D8, #3174f2);
}