.card-box {
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.transaction-button{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #0118D8;
  color: #0118D8;
  transition: background 0.4s;
}

.transaction-button:hover{
  color: white;
  background-color: #0118D8;
}

.balance-card {
  background: linear-gradient(to right, #ffffff, #f9f9ff);
  border-radius: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.balance-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
