input::placeholder {
  color: #adb5bd;
}

input{
  border: 1px solid rgba(0, 0, 0, 0.486);
}

input:focus, select:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 25, 135, 0.25);
  border-color: #0a58ca;
}

.payment-button{
  border-radius: 0.5rem;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(13, 110, 253, 0.2);
  transition: all 0.3s ease;
}

.payment-button:hover {
  background-color: #0a58ca;
  box-shadow: 0 6px 20px rgba(13, 110, 253, 0.25);
}

